# 统一历史作者 —— 让 GitHub Contributors 只显示 cropflre
cropflre <767308865@qq.com> Drug <767308865@qq.com>
cropflre <767308865@qq.com> Drug <cropflre2333@gmail.com>
cropflre <767308865@qq.com> libashanxi <65264574+libashanxi@users.noreply.github.com>
cropflre <767308865@qq.com> root <root@VZZZLIANG-PC7.localdomain>
